.news {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.newsButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}
